@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,700&display=swap');
  *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Balsamiq Sans', cursive;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-self: center;
  gap:1.5em;
}
nav{
  min-height: 70px;
  background-color: #111;
  display: block;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 70px;
  color: #fff;
  font-family: "balsamiq Sans";
  padding: 10px
}
.container {
  margin: 0 auto;
  width: 75%
}

 .leftColumn{
  border: 4px solid #111;
  margin-top: 50px;
  
  flex:1;
  margin: 0 auto;
 }

.rightColumn {
  border: 4px solid #111;
  margin-top: 50px;
  /* width:550px; */
  flex:3;
  margin: 0 auto;
  
}
.user{
  padding: 15px ;
  flex:1;
  
  margin: auto 0;
}
h1 {
  
  font-size: 36px;
  padding: 10px;
}


h3 {
  padding: 20px;
  align-self: center;
  font-size: 30px;
}
#like {
  background-color: #FFD966;
  padding: 8px 20px;
  margin: 20px;
  font-weight: 900;
  font-size: 25px;
  box-shadow: 5px 5px;
}