@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,700&display=swap');
  *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Balsamiq Sans', cursive;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

  

.column {
  border: 2px solid #111;
  margin-top: 50px;
  width:500px;
  min-height: 150px;
  
  
}
.user{
  padding: 20px;
  flex:1;
  
  margin: auto 0;
}
h2 {
  align-self: center;
}
#like {
  background-color: ;
  padding: 8px 20px;
  margin: 20px;
  font-weight: 900;
  font-size: 25px;
  box-shadow: 5px 5px;